.bg-C0DFED {
    background-color: #C0DFED;
}
.bg-0086C {
    background-color: #0086CA;
    color: white;
}
.bg-013C5E{
    color : #013C5E;
}
.h-90vh{
    height: 90vh;
}
.list {
    list-style: circle;
    
}